@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  background: #333;
  color: white;
  color: linear-gradient(to top, rgb(149, 104, 255), rgb(132, 0, 255));
  font-family: 'Comfortaa', sans-serif;
}

#contents {
  display: flex;
  max-width: 800px;
  margin: 2em auto;
}

/*------- Board ------*/

#board {
  float: left;
  margin-right: 2em;
  background: rgb(112, 106, 106);
  padding: 1em;
  border-radius: 10px;
}

#board .button, #board button {
  background: linear-gradient(to top, rgb(255, 253, 131), rgb(255, 230, 0));
  color: black;
  display: inline-block;
  padding-left: 2px;
  height: 75px;
  width: 75px;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid  rgba(255, 165, 0, .3);
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 2px 2px #ffd000;
}

.character {
  font-family: 'Comfortaa', sans-serif;
}

#board .button:hover {
  background: rgb(255, 185, 55);
}

#board .button:active{
  background: rgba(255, 165, 0, 1);
}

.character {
  visibility: hidden;
}

#playback {
  margin-top: 2em;
}

#map-mode {
  
}

/*------- Library and Visualizer ------*/

#vizlib {
  float: right;
  width: 300px;
}

#visualizer {
  display: none;
}

#samples {
  overflow: scroll;
  height: 200px;
  width: 300px;
  margin: 1em auto;
}

#library li {
  list-style-type: none;
}

.grey {
  background: rgba(211, 211, 211, 0.8);
  color: black;
  padding: 5px;
}

.blue {
  background: rgba(236, 236, 236, 0.8);
  color: black;
  padding: 5px;
}

.grey:hover, .blue:hover {
  color:  rgb(132, 0, 255);
}


/*------- Settings ------*/

#settings {
  position: fixed;
  display: block;
  top: -200;
  right: 0;
  padding-right: 1em;
  text-align: right;
  z-index: 10;
}